<div class="px-6">
    <div class="text-center mt-4 space-y-2">
        <div class="flex items-center justify-center gap-1 text-xs text-slate-500">
            <span class="material-symbols-outlined text-[16px] text-green-400">verified</span>
            
        </div>
        
    </div>
</div>
<div class="h-10"></div>

<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeWWM_nDoQjPA3pRJ4hCnmseJLDQZj-SocQG4ioiTGAxI5fHA/viewform?embedded=true" width="640" height="721" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe> -->